<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/computer2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/computer2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".RegistrationActivity"></activity>
        <activity android:name=".RemoveProblem" />
        <activity android:name=".LabInchargeView" />
        <activity android:name=".LabInchargeAddProblem" />
        <activity android:name=".LabInchargeActivity" />
        <activity android:name=".ProblemUpdateActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".AssignPost" />
        <activity android:name=".HodPost" />
        <activity android:name=".HodView" />
        <activity android:name=".HodActivity" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>